# Rust build output
/target/

# Compiled objects
*.o

# Ignore hidden files and directories by default
.*

# Keep repository configuration
!.gitignore
!.github/
!.github/**

# Useless files
test.fyl
/assets/AeroFyl2.png
/assets/AeroFyl3.png
/assets/AeroFyl3.png~
/assets/AeroFyl5.png

# Scratch
/scratch/